@font-face {
	font-family: "header";
	src: url("../fonts/Audiowide-Regular.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "text";
	src: url("../fonts/YujiSyuku-Regular.ttf") format("truetype");
}

body {
	font-family: "header";
	background-image: url(../img/background.jpeg);
	background-size: fill;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75vw;
	min-height: 100vh;
}

#header {
	position: fixed;
	top: 0;
}

#footer {
	position: fixed;
	bottom: 0px;
}

#header,
#footer {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(88, 208, 88, 0.876);
	width: 140%;
	height: 40px;
}

#header > ul,
#footer > ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

#footer > ul > li,
#header > ul > li {
	padding: 0px 60px;
}

.nav-bar {
	position: fixed;
	top: 40px;
}

.nav-bar > button {
	padding: 10px 20px;
	margin: 0px 10px;
	width: 120px;
}

button:hover {
	background-color: grey;
}

.main {
	color: aliceblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(23, 21, 21, 0.843);
	width: 90%;
	min-height: 100vh;
}

.main > h1 {
	font-family: "header";
	margin-top: 200px;
}

#opening-hours {
	padding-top: 10vh;
	transform: scaleX(1.2);
	text-align: center;
}

#welcome {
	text-align: center;
	font-family: "text";
	font-size: 18px;
	max-width: 45vw;
}

#dish-list {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 50vw;
	border-radius: 20px;
	padding: 20px;
}

#menue {
	padding-top: 750px;
}

#meal {
	font-family: "text";
	margin: 20px;
	margin-bottom: 40px;
	padding: 30px 20px;
	background-color: rgba(0, 0, 0, 0.568);
	border-radius: 20px;
	border-color: white;
}

#meal > img {
	width: 200px;
}

#contact {
	margin-top: 500px;
	padding-top: 50px;
}

#employee-list {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
}

#employee {
	font-family: "text";
	padding: 20px;
	margin: 10px;
	margin-bottom: 40px;
}
