body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: yellow;
	width: 75vw;
	min-height: 100vh;
}

.header {
	position: fixed;
	top: 0;
	background-color: rgb(96, 195, 96);
	width: 140%;
	height: 40px;
}

.nav-bar {
	background-color: rgb(109, 109, 146);
	position: fixed;
	top: 40px;
}

.nav-bar > button {
	padding: 10px 20px;
	margin: 0px 10px;
	width: 120px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(206, 117, 117);
	width: 90%;
	min-height: 100vh;
}

.main > h1 {
	margin-top: 200px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 140%;
	height: 40px;
	background-color: rgb(190, 112, 190);
}

#opening-hours {
	font-style: italic;
	transform: scaleX(1.2);
	text-align: center;
}

#welcome {
	text-align: center;

	max-width: 35vw;
}

#dish-list {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(91, 91, 223);
	width: 50vw;
}

#menue {
	padding-top: 450px;
}

#meal {
	margin: 20px;
	margin-bottom: 40px;
	padding: 10px;
	background-color: rgb(241, 185, 0);
}

#meal > img {
	width: 200px;
}

#contact {
	margin-top: 500px;
	padding-top: 50px;
}

#employee-list {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	background-color: white;
}

#employee {
	padding: 20px;
	margin: 10px;
	margin-bottom: 40px;
}
